.App {
  text-align: center;
  height: 100vh;
  background-color: rgba(0, 0, 255, 0.534);
  color: white;
}


label {
  font-size: 20px;
  margin: 8px;

}

.input {
  width: 250px;
  height: 25px;
}

input {
  font-size: 16px;
}

.read {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}
